@import "grid";
//$primary-color: rgba(168, 10, 45, 1);
$primary-color: #ec7140;
$primary-color: #fec538;
$secondary-color: lighten($primary-color, 10%);

$font-color: #969696;
$font-hover-color: #ffffff;

$header-color: #555555;
$header-hover-color: #000000;

$bg-gray: #f2f2f2;
$border-color: #a3a8c5;

$blue: #3f51b5;
$second-blue: #253178;
$red: #e91e63;
