<a href="{{ node.field_link[0].url }}" title="{{ label|field_value[0]['#context'].value }}" data-position="top center">
  <span class="middle-icon {{ content.field_icon|field_value }}"></span>
  <span class="title">{{ label }}</span>
</a>