<div class="brand">
    {{ content.field_brand }}
</div>
<div class="category">
    {{ content.field_category }}
</div>
<div class="series">
    <div class="field--label-inline">
        <div class="field__label">{{ 'series' }}</div>
        <div class="field__item">{{ name|field_value }}</div>
    </div>
</div>
