{#{% if title %}#}
  {#<h3>{{ title }}</h3>#}
{#{% endif %}#}
{#{% for row in rows %}#}
  {#{%#}
    {#set row_classes = [#}
      {#default_row_class ? 'views-row',#}
    {#]#}
  {#%}#}
  {#<div{{ row.attributes.addClass(row_classes) }}>#}
    {#<div class="ui yellow card">#}
        {#{{ row.content }}#}
    {#</div>#}
  {#</div>#}
{#{% endfor %}#}



<div class="ui stackable three column grid my-shuffle-container">
    {% for row in rows %}
        {{ row.content }}
    {% endfor %}

    <div class="col-1@sm my-sizer-element"></div>
</div>
